# Copyright 2019 Google LLC. This software is provided as is, without warranty
# or representation for any use or purpose. Your use of it is subject to your
# agreement with Google.

**/.terraform/*
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.lock.info
*.json

# Terraform crash log
**/crash.log
